.HeaderCatalogo {
   background: #C77700;
}

.containerCatalogo {
   margin: auto;
   margin-top: 250px;
   margin-bottom: 250px;
   width: 90%;
}

.cardsCatalogo {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
   grid-gap: 60px;
}

.cardCafeCatalogo {
   position: relative;
   transition: 0.3s;
   max-width: 266px;
}

.cardCafeCatalogo:hover {
   transform: scale(1.02);
}

.infoCardCatalogo {
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 5px;
   justify-content: space-between;
   max-height: 40%;
   min-width: 100%;
   backdrop-filter: blur(5px);
   background: rgba(0, 0, 0, 0.46);
   bottom: 0;
}

.nomeCafeCatalogo {
   color: #A46200;
   font-weight: 500;
   margin-left: 5%;
}

.valorCafeCatalogo {
   color: white;
   font-weight: 500;
   margin-left: 5%;
}

.btnSaibaMaisCatalogo {
   width: 100%;
   background-color: #A46200;
   text-decoration: none;
   display: flex;
   padding: 6px;
   gap: 8px;
   align-items: center;
   justify-content: center;
   font-size: 25px;
   color: white;
}


/*----------- Perfil do Cafe -----------*/


.infosCafe {
   display: flex;
   width: 90%;
   margin: auto;
   margin-top: 250px;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.infosCafe img {
   width: 400px;
}

.infosCafe .textosCafe {
   display: flex;
   flex-direction: column;
   height: 575px;
   max-width: 650px;
}

.textosCafe h1 {
   color: #A46200;
   font-size: 60px;
}

.textosCafe p {
   color: #9F9F9F;
   font-size: 30px;
}

.textosCafe h3 {
   color: #9F9F9F;
   font-weight: 400;
   font-size: 40px;
   margin-bottom: 50px;
}

.textosCafe h2 {
   color: #A46200;
   font-size: 60px;
}

.textosCafe button {
   text-align: center;
   cursor: pointer;
   font-weight: 500;
   margin-top: 12px;
   padding: 10px 20px;
   border: none;
   font-size: 40px;
   color: #ffffff;
   background-color: #C77700;
}

.textosCafe button:hover {
   background-color: #A46200;
}